<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <div class="restaurant-menu">
        <h1>Наше Меню</h1>
        <f:if condition="{categories}">
            <f:then>
                <f:for each="{categories}" as="category">
                    <div class="menu-category">
                        <h2>{category.title}</h2>
                        <p>{category.description}</p>
                    </div>
                </f:for>
            </f:then>
            <f:else>
                <p>Меню пока пусто. Добавьте категории в Backend.</p>
            </f:else>
        </f:if>
    </div>
</html>
